:root {
  --bg-color: #dddddd;
  --main-color: #1b1b1b;
  --sub-color: #555555;
  --sub-alt-color: #cccccc;
  --text-color: #1b1b1b;
  --error-color: #883333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1b1b1b;
    --main-color: #dddddd;
    --sub-color: #555555;
    --sub-alt-color: #252525;
    --text-color: #dddddd;
    --error-color: #880000;
  }
}
