:root {
  --bg-color: #000;
  --bg-alt-color: #111;
  --main-color: #eee;
  --caret-color: #eee;
  --sub-color: #444;
  --sub-alt-color: #171717;
  --text-color: #eee;
  --error-color: #fff;
  --error-extra-color: #d8d8d8;
  --colorful-error-color: #fff;
  --colorful-error-extra-color: #d8d8d8;
}

@keyframes shadow {
  to {
    color: #111;
  }
}

@keyframes shadow-repeat {
  50% {
    color: #000;
  }
  100% {
    color: #eee;
  }
}

#liveWpm header .config .group .buttons .textButton.active,
#result .stats .group,
nav .textButton:hover,
header .config .group .buttons .textButton:hover,
a:hover {
  animation: shadow-repeat 3s linear infinite forwards;
}

#logo,
#typingTest .word letter.correct {
  animation: shadow 5s linear 1 forwards;
}

a {
  text-decoration: underline;
}
